.btn{
    margin-top: 10px;
}
.form-inline .form-control {
    margin-top: 10px;
    margin-left:330px
}
.navbar-brand{
    margin-right: 400px;
}
.form-group{
    width: 50%;
}
/* .wrapper{
    margin: auto;
    width: 900px;

} */
/* .container {
    width: 500px;
} */
